/*                  Fonts                       */
@font-face {
    font-family: 'Source Code';
    src: url('../fonts/SourceCodePro-Regular.ttf');
}

@font-face {
    font-family: 'Source Code Bold';
    src: url('../fonts/SourceCodePro-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf');
}

/*                  Variables                   */
:root {
    --main-color: #ffcc00;
    --main-color-light: #ffe476;
    --second-color: #000000;
    --header-font: 'Source Code Bold';
    --header-font-regular: 'Source Code';
    --main-font: 'Open Sans'; 
    --main-font-bold: 'Open Sans Bold';
}


/*                  Global CSS                  */
html * {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    color: var(--second-color);
    list-style-type: none;
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--header-font);
}

h3 {
    font-family: var(--main-font-bold);
}

/*                  Header                      */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    nav {
        ul {
            display: flex;
            align-items: flex-end;
            height: 100%;
            li {
                a {
                    font-family: var(--header-font);
                    padding: .5rem 1.5rem;
                    font-size: 18px;
                }
            }
        }
    }
}

.big-header {
    background-image: url('../../images/headerimgblack.png');
    background-size: cover;
    padding: 0;
    div {
        width: 80%;
        margin: 0 auto;
        padding: 8.3rem 0;
        h2 {
            font-size: 25px;
            width: 50%;
            color: var(--main-color);
            display: block;
            span {
                display: block;
                color: var(--main-color);
                font-size: 107px;
                font-family: var(--header-font);
                line-height: .9em;
                white-space: pre-line;
                margin-left: -10px;
                span {
                    margin-left: 4px;
                }
            }
        }
        p {
            margin: 2rem 0 3rem 0;
            color: white;
            width: 45%;
            font-size: 20px;
            line-height: 1.5em;
            font-family: 'Open Sans Light'
        }
        a {
            background-color: var(--main-color);
            margin: 2rem 0;
            padding: 1rem 3rem;
            border-radius: 20px;
            font-family: var(--header-font);
            font-size: 20px;
        }
    }
}

/*                  sections                      */

#section_intro,
#section_inhoud,
#section_vakken,
#section_info {
    padding: 8rem 0;
    > div {
        width: 50%;
        margin: 0 auto;
        padding: .5rem 0;
        p {
            padding: .5rem 0;
        }
    }
    .div_quote {
        background-color: black;
        padding-bottom: 4rem;
        position: relative;
        margin-top: 2rem;
        blockquote {
            color: white;
            margin: 2rem 2rem 0 2rem;
            line-height: 1.7rem;
            padding-top: 2rem;
            font-family: var(--header-font-regular);
        }
        p {
            color: white;
            font-family: 'Source Code Bold';
            position: absolute;
            bottom: 0; 
            right: 0;
            margin: 0 2rem 2rem 0;
        }
    }
    h2 {
        font-size: 80px;
        width: 20%;
        position: sticky;
        top: 10rem;
        margin-left: 2rem;
    }
}

#section_intro {
    .intro { 
        margin-top: -6rem;
    }
}

#section_inhoud {
    .inhoud {
        margin-top: -19rem;
    }
}

#section_vakken {
    .vakken {
        margin-top: -12rem;
        div {

            details {
                margin-bottom: 1rem;

                summary {
                    font-family: 'Source Code Bold';
                    background-color: var(--main-color);
                    font-size: 20px;
                    padding: 1rem;

                    &:hover {
                        cursor: pointer;
                    }

                    &[open] {
                        background-color: red;
                    }
                }

                summary ~ * {
                    animation: sweep .3s ease-in;
                }

                div {
                    padding: 1rem;
                    background-color: var(--main-color);

                    h3:nth-of-type(1),
                    p {
                        padding-top: 0;
                    }

                    ol li {
                        list-style-type: decimal;
                        margin-left: 1.1rem;
                    }
                }    
            }
        }
    }
}

@keyframes sweep {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#section_info {
    .info {
        margin-top: -25rem;
    }
}

section:nth-of-type(2n+1) {
    background-color: var(--main-color);
}

/*                  footer                      */

footer {
    background-color: rgb(0, 0, 0);
    padding: 1rem 0;
    p {
        color: white;
        text-align: center;
    }
}

/*                  alert                      */

.alert {
    position: fixed;
    top: 10rem;
    right: calc(-30vw - 8rem);
    transition:
        right 1s ease-in-out;
    width: 30vw;
    background-color: var(--main-color);
    padding: 2rem;
    z-index: 9;
    box-shadow: 0 5px 15px rgba(46, 46, 46, 0.596);

    h3 {
        margin-bottom: 1rem;
        line-height: 1.5em;
    }

    p {
        line-height: 1.7em;
    }

    a:nth-of-type(1) {
        font-size: 25px;
        font-family: var(--main-font-bold);
        position: absolute;
        top: .1rem;
        left: .6rem;
        &:hover {
            cursor: pointer;
        }
    }

    a:nth-of-type(2) {
        font-family: var(--main-font-bold);
        margin-top: 1rem;
        display: block;
    }
}

.project {
    div {
        h2 {
            span {
                span {
                    font-size: 170px;
                    margin-left: -4px;
                }
            }
        }

        p {
            margin-top: -40px;
            margin-bottom: 0;
        }
    }
}