@font-face {
    font-family: 'Source Code';
    src: url('font/SourceCodePro-Regular.ttf');
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.ttf')
}

:root {
    --main-color: #ffcc00;
    --second-color: #000000;
}

html * {
    font-family: 'Open Sans';
}