@font-face {
    src: url('../fonts/The-Blacksmith.ttf');
    font-family: 'Blacksmith';
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(63, 63, 63);
}

header h1 {
    font-family: 'Blacksmith';
    font-size: 6rem;
    text-align: center;
    margin-top: 5rem;
}

header {
    margin: 2em 0 .5em 0;
}

.featured {
    width: 80vw;
    display: flex;
    align-items: center;
    margin: 8rem auto;
    margin-top: 6rem;
}

.featured h2 {
    font-size: 30px;
}

.featured h3,
.featured p {
    font-weight: 300;
    margin: 1rem 0;
}

.featured h3 {
    font-weight: 500;
}

.featured p {
    margin: 1rem 0;
    line-height: 2.2rem;
}

.featured a {
    width: 40vw;
    padding-bottom: 50%;
    display: inline-block;
    background-size: cover;
    transition: transform .3s ease;
}

.featured div:nth-of-type(2) {
    margin-left: 2rem;
}

.catContainer h2 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-size: 30px;
    font-weight: 300;
    color: rgb(63, 63, 63)
}

.catContainer span {
    font-family: 'Blacksmith';
    font-size: 2.5rem;
}

.catContainer {
    padding: 2em 0;
    margin: 2em 0;
}

.catContainer {
    background-color: #a1e4ff;
}

.catContainer .photoList {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    flex-grow: initial;
    width: 80vw;
    overflow-x: scroll;
    align-items: baseline;
    margin: 0 auto;
}

.photoList div a {
    width: 11.5em;
    padding-bottom: 11.5em;
    background-size: cover;
    display: block;
    margin: 0 auto;
    transition: transform .3s ease;
}

.photoList div p {
    margin: 1rem 2rem;
    line-height: 1.8rem;
    font-weight: 300;
}

.gallery {
    width: 82vw;
    margin: 5rem auto;
}

.gallery .photoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery .photoList a {
    margin: 1rem;
    width: 12rem;
    margin-bottom: 1.6rem;
    padding-bottom: 12rem;
    transition: 
        transform .3s ease;
}

.gallery .photoList a:hover,
.featured a:hover,
.photoList div a:hover {
    transform: scale(1.08);
}

.photoList > div {
    padding: 0 1rem;
}

.gallery h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.highlightedTitle {
    margin-top: 1.3rem;
}

.highlighted {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.highlightedBlock {
    display: block;
}

.highlighted div {
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding: 2rem;
    margin-top: 5rem;
}

.highlighted div img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    background-size: cover;
}

.begoneHighlighted {
    position: absolute;
    right: 23.5%;
    top: 5.2rem;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}